.pokemon-box{

    position: relative;
    background-color:white;
    border border-radius: 20px;
    height: 450px;
    transform-style: preserve-3d;


}

.pokemon-box::before{

    content: "Who Am I ?";
    position: absolute;
    color: white;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    top:40px;
    left: 50%;
    transform: translate3d(-50%, 0);
    opacity:0;
    transition: 0.5s;
}

*{
    background-color: lightblue;
}

.pokemon-box:hover::before {

    opacity: 0.3;
}

.pokemon-box::after{

    content:    "Pikachu";
    position: absolute;
    color: white;
    font-size: 4em;
    font-weight: bold;
    font-style: italic;
    top:380px;
    left: 50%;
    transform: translate3d(-50%, 0);
    opacity:0;
    transition: 0.5s;
}

.pokemon-box:hover::after {

    opacity: 0.3;
}

.pikachu{

    position: absolute;
    top: 0;
    width: 100%;
    color:white;
    text-align: center;
    font-size: 2em;
    opacity: 0;
    transition: 0.5s;

}

.pokemon-box:hover .pikachu{
top: 20px;
opacity: 1;

}

.keyboard-detail-button{

position: absolute;
bottom: 0;
left: 50%;
transform: translate3d(-50%, 0);
opacity: 0;
transition: 0.5s;

}

.pokemon-box:hover .keyboard-detail-button
{
opacity:0 ;
bottom: 20px;

}

.pokemon-img{

    position: absolute;
    top:50%;
    left:50%;
    transform: translate3d(-50%, -52%, 100px);
    max width: 300px;
    transition:0.5s;
    z-index: 30;
    background color: white;

}

.pokemon-box:hover .pokemon-img{

    transform: translate3d(-50%, -52%, 100px) scale(1.2) rotate(-5deg);
}
